
#ffmpeg

fastapi 
uvicorn[standard]
google-generativeai
python-dotenv
tldextract
httpx

youtube-transcript-api

yt-dlp
insanely-fast-whisper
torch 
torchvision 
torchaudio
pydub
transformers
opencv-python
Pillow

#for model training
numpy 
pandas 
scikit-learn 
pip install thundersvm #for gpu support
 cmake
 dlib


prettytable
