fastapi
uvicorn
google-generativeai
google-cloud-firestore
youtube-transcript-api
yt-dlp
pydub
opencv-python
scikit-learn
aiohttp
httpx
tldextract
Pillow
python-dotenv
python-multipart
python-whois

Wikipedia-API
newsapi-python
google-cloud-vision
firebase_admin
google-cloud-speech
google-cloud-storage
